.bin
obj
bin
Debug
.DXA_HSJX\DXA_HSJX\obj
DXA_HSJX/DXA_HSJX/obj/Debug/DXA_HSJX.CarExamControl.resources
DXA_HSJX/Common/bin/Debug/Common.dll
DXA_HSJX/Common/bin/Debug/Common.pdb
DXA_HSJX/Common/obj/Debug/Common.csproj.CoreCompileInputs.cache
DXA_HSJX/Common/obj/Debug/Common.csproj.FileListAbsolute.txt
DXA_HSJX/Common/obj/Debug/Common.csprojResolveAssemblyReference.cache
DXA_HSJX/Common/obj/Debug/Common.dll
DXA_HSJX/Common/obj/Debug/Common.pdb
DXA_HSJX/DXA_HSJX/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DXA_HSJX/DXA_HSJX/obj/Debug/DXA_HSJX.CarExamControl.resources
DXA_HSJX/DXA_HSJX/obj/Debug/DXA_HSJX.csproj.CoreCompileInputs.cache
DXA_HSJX/DXA_HSJX/obj/Debug/DXA_HSJX.csproj.FileListAbsolute.txt
DXA_HSJX/DXA_HSJX/obj/Debug/DXA_HSJX.csproj.GenerateResource.Cache
DXA_HSJX/DXA_HSJX/obj/Debug/DXA_HSJX.csprojResolveAssemblyReference.cache
DXA_HSJX/DXA_HSJX/obj/Debug/DXA_HSJX.FormExamStudentManage.resources
DXA_HSJX/DXA_HSJX/obj/Debug/DXA_HSJX.Properties.Resources.resources
DXA_HSJX/Model/bin/Debug/Model.dll
DXA_HSJX/Model/bin/Debug/Model.pdb
DXA_HSJX/Model/obj/Debug/Model.csproj.CoreCompileInputs.cache
DXA_HSJX/Model/obj/Debug/Model.csproj.FileListAbsolute.txt
DXA_HSJX/Model/obj/Debug/Model.csprojResolveAssemblyReference.cache
DXA_HSJX/Model/obj/Debug/Model.dll
DXA_HSJX/Model/obj/Debug/Model.pdb
DXA_HSJX/Service/bin/Debug/Common.dll
DXA_HSJX/Service/bin/Debug/Common.pdb
DXA_HSJX/Service/bin/Debug/Model.dll
DXA_HSJX/Service/bin/Debug/Model.pdb
DXA_HSJX/Service/bin/Debug/netstandard.dll
DXA_HSJX/Service/bin/Debug/Service.dll
DXA_HSJX/Service/bin/Debug/Service.pdb
DXA_HSJX/Service/bin/Debug/System.Data.Common.dll
DXA_HSJX/Service/bin/Debug/System.Diagnostics.StackTrace.dll
DXA_HSJX/Service/bin/Debug/System.Diagnostics.Tracing.dll
DXA_HSJX/Service/bin/Debug/System.Globalization.Extensions.dll
DXA_HSJX/Service/bin/Debug/System.IO.Compression.dll
DXA_HSJX/Service/bin/Debug/System.Net.Http.dll
DXA_HSJX/Service/bin/Debug/System.Net.Sockets.dll
DXA_HSJX/Service/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
DXA_HSJX/Service/bin/Debug/System.Runtime.Serialization.Primitives.dll
DXA_HSJX/Service/bin/Debug/System.Runtime.Serialization.Xml.dll
DXA_HSJX/Service/bin/Debug/System.Security.Cryptography.Algorithms.dll
DXA_HSJX/Service/bin/Debug/System.Security.SecureString.dll
DXA_HSJX/Service/bin/Debug/System.Threading.Overlapped.dll
DXA_HSJX/Service/bin/Debug/System.ValueTuple.dll
DXA_HSJX/Service/bin/Debug/System.Xml.XPath.XDocument.dll
DXA_HSJX/Service/obj/Debug/Service.csproj.CoreCompileInputs.cache
DXA_HSJX/Service/obj/Debug/Service.csproj.FileListAbsolute.txt
DXA_HSJX/Service/obj/Debug/Service.csprojResolveAssemblyReference.cache
DXA_HSJX/Service/obj/Debug/Service.dll
DXA_HSJX/Service/obj/Debug/Service.pdb
DXA_HSJX/.vs/DXA_HSJX/v15/Server/sqlite3/storage.ide-shm
DXA_HSJX/.vs/DXA_HSJX/v15/Server/sqlite3/storage.ide-wal
